.Toolbar {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: rgb(247, 247, 247); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    flex-flow: row;

}

.Toolbar nav {
    /* height: 100%; */
    height: auto;
    width: 70%;
    align-items: center; 
    justify-content: space-between;
    text-align: center;
}

.Logo {
    height: 80%;
    /* width: 20% */

}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
