.Search {
    width: 60%;
    margin: 9px;
    /* border: 1px solid #eee; */
    /* box-shadow: 0 2px 3px #ccc; */
    padding: 4px;
    /* text-align: center; */
}

.Search items
{
    font-weight: bold;
    font-size: 1em;
    font-family: "Times New Roman";
}
input {
    width: 90%;
    height: 20px;
}

